#!/bin/bash

# ------------------------------------------------------------------------------
# Unique project identifier
# To uniquely identify the archive in the repository
export TAG=DEMO-TAG

# Project descriptor
export DESC='Demo description'

# email addres и email subject
export EMAIL=<email>
export SUBJ='uBackup-'$TAG'-'$(ts true)

# ------------------------------------------------------------------------------
# Folder for *.log files
export LOG=$ROOT/.log

# Folder for *.touch files
export TOUCH=$ROOT/.touch

# PID file
export PID=$TOUCH/uBackup.pid

# TMP folder
export TMP=$ROOT/.tmp
